body {
    background-color: burlywood;
  }
input {
    width: 100%;
  }
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input {
    width: 100%;
  }
div {
    font-size: 36px;
    font-family: Tahoma;

}

  