<<<<<<< HEAD
input {
    border-color:red;
    border-radius: 4px;
    border-style: groove;
  }
#title { font-family: Papyrus, fantasy;
    font-size: 48px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 850; 
    line-height: 93px; 
    text-align: center;
}
p{
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}
.tc{
    font-size: 16px;
}
h1 {
    text-shadow: 2px 3px 4px #8b0000;
}
.container {
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    background-color: #8b0000;
    

}
.clearfix{
    text-align: center;
}
.signupbtn:hover {
    background-color:#282828;
}

.cancelbtn:hover{
    background-color: #C00000;
=======
input {
    border-color:red;
    border-radius: 4px;
    border-style: groove;
  }
#title { font-family: Papyrus, fantasy;
    font-size: 48px; 
    font-style: italic; 
    font-variant: normal; 
    font-weight: 850; 
    line-height: 93px; 
    text-align: center;
}
p{
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}
.tc{
    font-size: 16px;
}
h1 {
    text-shadow: 2px 3px 4px #8b0000;
}
.container {
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    color: burlywood;
    text-align: center;
    background-color: #8b0000;
    

}
.clearfix{
    text-align: center;
}
.signupbtn:hover {
    background-color:#282828;
}

.cancelbtn:hover{
    background-color: #C00000;
>>>>>>> Roshawn
}