body {
    background-color: burlywood;
  }
input {
    width: 100%;
  }
input[type=text] {
    border: 2px solid red;
    border-radius: 4px;
  }
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
input {
    width: 100%;
  }
h1 { font-family: Papyrus; fantasy; font-size: 31px; font-style: italic; font-variant: normal; font-weight: 700; line-height: 93px; } h3 { font-family: Papyrus; fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Papyrus; fantasy; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Papyrus; fantasy; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Papyrus; fantasy; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
